section {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    color: white;
    font-size: 5vw;
    margin: 0px;
}

.text {
    color: white;
    font-size: 3vw;
}

.chosen {
    background-color: green;
}

.buttons {
    width: 50vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

button {
    width: 10vw;
    height: 10vw;
    font-size: 3vw;
    padding: 0px;
}

@media all and (min-width: 100vh) {
    button {
        width: 20vh;
        height: 20vh;
        font-size: 6vh;
    }
}

.enemyInput {
    height: 20vh;
    text-align: center;
}