<section *ngIf="show">
    <h1 class="title">New game</h1>
    <div class="buttons">
        <button (click)="ChangeChoice(Color.transparent)" [ngClass]="enemyChoice == Color.transparent ? 'chosen':''">player</button>
        <button (click)="ChangeChoice(Color.black)" [ngClass]="enemyChoice == Color.black ? 'chosen':''">Black</button>
        <button (click)="ChangeChoice(Color.white)" [ngClass]="enemyChoice == Color.white ? 'chosen':''">White</button>
    </div>
    <div class="enemyInput">
        <div *ngIf="showRange">
            <h2 class="text">Enemy level</h2>
            <input [(ngModel)]="enemyLevel" type="range" min="0" max="7" *ngIf="showRange">
        </div>
    </div>
    <div class="submit">
        <button (click)="Submit()">Begin</button>
    </div>
</section>