.container {
    transition: 1s;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.black {
    background-color: black;
}

.white {
    background-color: white;
}

.board {
    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    display: flex;
    flex-direction: column;
}

.app {
    border: solid;
    border-color: black;
    border-width: 1px;
}