<div [ngClass]="colorTurn == 'w' ? 'white':'black'" class="container">
    <app-get-info *ngIf="showGetInfo" (enemyInformations)="this.enemyInformations = $event; this.showGetInfo = false" 
    [lastEnemy]="enemyInformations.enemy" [lastEnemyLevel]="enemyInformations.enemyLevel"></app-get-info>
    <div class="board" *ngFor="let x of arrayOfBlocks; let xIndex = index">
        <div class="line" *ngFor="let y of x; let yIndex = index">
            <app-puck class="app" [value]="y" [foundMove]="FindMoveFor(xIndex, yIndex)" (addBlock)="AddBlock(xIndex, yIndex); "></app-puck>
        </div>
    </div>
    <app-virtual-enemy *ngIf="this.enemyInformations.enemy != 'p' && this.enemyInformations.enemy != ''" 
    [informations]="this.enemyInformations" [position]="{board: arrayOfBlocks, colorTurn: colorTurn}" 
    (move)="AiAddBlock($event.x, $event.y)" ></app-virtual-enemy>
    <app-gui [color]="colorTurn" [points]="blocks" [finished]="finishedGame" (reset)="Reset()" (back)="RestoreMove()"></app-gui>
</div>