div {
    transition: 1s;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.black {
    background-color: black;
}

.white {
    background-color: white;
}