#main {
    height: 20vh;
    width: 100vw;
    margin: 0px;
    background-color: black;
    display: flex;
    justify-content: center;
}

.title {
    font-size: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50%;
    margin: 0px;
}

.text {
    font-size: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50%;
    margin: 0px;
}

.generalInfo {
    transition: 1s;
}

#black,
#white {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#white {
    background-color: white;
}

#black h1 {
    color: white;
}

#white h1 {
    color: black;
}

#buttons {
    display: flex;
    flex-wrap: wrap;
    width: 20vw;
    height: 50%;
    background-color: white;
}

button {
    width: 10vw;
    height: 10vh;
    border: solid;
    border-width: 1px;
    font-size: 2vw;
    margin: 0px;
    padding: 0px;
}

.textContainer {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.white {
    background-color: white;
    color: black;
}

.black {
    background-color: black;
    color: white;
}

@media all and (min-width: 100vh) {
    #buttons button {
        font-size: calc(5vh - 2px);
    }
    .text {
        font-size: 3vh;
        margin: 0px;
    }
    .title {
        font-size: 6vh;
        margin: 0px;
    }
}